@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,500,700');
@import './breakpoints.css';

:root {
  --font-color: rgb(51, 51, 51);
  --background-color: #f5f5f5;
}

body,
html {
  background: var(--background-color);
  color: var(--font-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
}

.responsive-text-large {
  font-size: 1em;
}

.message-list {
  background-color: #bbb;
  border: 4px solid red;
}

.message {
  list-style-type: none;
  height: 4em;
  cursor: pointer;
  line-height: 4em;
  border: 1px solid blue;
}

.message.display-validation,
.message.expanded {
  height: auto;
  min-height: 5em;
  line-height: 2em;
}

.message-summary {
  display: flex;
}

.message .subject {
  flex-grow: 4;
}

.message .sender {
  min-width: 15rem;
  width: 20rem;
}

.message-peek {
  display: none;
}

.message-validation-display {
  display: none;
}

.message.expanded .message-peek {
  display: block;
}

.message.display-validation .message-validation-display {
  display: block;
}

@media (--above-tablet) {
  .responsive-text-large {
    font-size: 1.56em;
  }
}

@media (--below-mobile) {
  .responsive-text-large {
    display: none;
  }
  h1.responsive-text-large {
    display: block;
  }
}

@media (--large-mobile) {
  .responsive-text-large {
    font-size: 1.25em;
  }
}
