@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,500,700');
@import './breakpoints.css';

:root {
  --font-color: rgb(51, 51, 51);
  --background-color: #f5f5f5;
  --list-bg: #eee;
  --grayer: #aaa;
}

body,
html {
  background: var(--background-color);
  color: var(--font-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
}

.responsive-text-large {
  font-size: 1em;
}

.message-list {
  background-color: var(--list-bg);
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
}

aside {
  width: 150px;
  background-color: var(--list-bg);
  border-right: 2px solid var(--grayer);
}

aside ul {
  padding: 0;
}

aside li {
  height: 2.5em;
  border-bottom: 1px solid var(--grayer);
  line-height: 2.5em;
  font-size: 1.3rem;
  list-style-type: none;
  text-align: center;
}

aside li:hover {
  background-color: var(--grayer);
}

.message {
  list-style-type: none;
  height: 4em;
  cursor: pointer;
  line-height: 4em;
  transition: height 1s;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid var(--grayer);
}

.message.display-validation,
.message.expanded {
  height: auto;
  min-height: 10em;
  line-height: 2em;
}

.message-summary {
  display: flex;
  padding: 0 2rem;
}

.message .subject {
  flex-grow: 4;
  font-weight: bold;
}

.message .sender {
  min-width: 15rem;
  width: 20rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

.message .sender a {
  text-decoration: none;
  color: black;
}

.message-peek {
  height: 0;
  text-align: center;
}

.message-validation-display {
  height: 0;
  display: flex;
  justify-content: space-evenly;
}

.message.expanded .message-peek {
  height: auto;
}

.message.expanded .message-validation-display {
  height: auto;
  background-color: var(--grayer);
  color: white;
}

@media (--above-tablet) {
  .responsive-text-large {
    font-size: 1.56em;
  }
}

@media (--below-mobile) {
  .responsive-text-large {
    display: none;
  }
  h1.responsive-text-large {
    display: block;
  }
}

@media (--large-mobile) {
  .responsive-text-large {
    font-size: 1.25em;
  }
}
